{% extends 'backoffice.html.twig' %}

{% block title %}Les scénarios{% endblock %}

{% block page %}
    <h1>Les scénarios</h1>

    <div class="table-contain">
        <div class="table-scroll">

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Fichier</th>
                        <th>Résumé</th>
                        <th>Message</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for scenario in scenarios %}
                    <tr>
                        <td>{{ scenario.id }}</td>
                        <td>{{ scenario.email }}</td>
                        <td>{{ scenario.phoneNumber }}</td>
                        <td>{{ scenario.firstname }}</td>
                        <td>{{ scenario.lastname }}</td>
                        <td><a href="/uploads/scenarios/{{ scenario.file }}" download>Télécharger</a></td>
                        <td>{{ scenario.summary }}</td>
                        <td>{{ scenario.stuffToAdd }}</td>
                        <td>
                            <a href="{{ path('app_scenario_show', {'id': scenario.id}) }}">Afficher</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Pas de résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
