{% extends 'backoffice.html.twig' %}

{% block title %}Scénario{% endblock %}

{% block page %}
    <h1>Scénario</h1>
    <div class="table-contain">
        <div class="table-scroll">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ scenario.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ scenario.email }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ scenario.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ scenario.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ scenario.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Fichier</th>
                        <td><a href="/uploads/scenarios/{{ scenario.file }}" download>Télécharger</a></td>
                    </tr>
                    <tr>
                        <th>Résumé</th>
                        <td>{{ scenario.summary }}</td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td>{{ scenario.stuffToAdd }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="contain-button">

        <a href="{{ path('app_scenario_index') }}">Retour</a>

        {{ include('scenario/_delete_form.html.twig') }}

    </div>
{% endblock %}
