{% extends 'backoffice.html.twig' %}

{% block title %}Scenario{% endblock %}

{% block page %}
    <h1>Scenario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scenario.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ scenario.email }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ scenario.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ scenario.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ scenario.lastname }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td><a href="/uploads/scenarios/{{ scenario.file }}" download>Download</a></td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ scenario.summary }}</td>
            </tr>
            <tr>
                <th>StuffToAdd</th>
                <td>{{ scenario.stuffToAdd }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_scenario_index') }}">back to list</a>

    <a href="{{ path('app_scenario_edit', {'id': scenario.id}) }}">edit</a>

    {{ include('scenario/_delete_form.html.twig') }}
{% endblock %}
