{% extends 'backoffice.html.twig' %}

{% block title %}Les Traductions{% endblock %}

{% block page %}
    <h1>Les Traductions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Langue</th>
                {% for locale, translation in translations %}
                    <th>{{ locale|upper }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for key, value in translations['fr'] %}
            <tr>
                <td>{{ key }}</td>
                {% for translation in translations %}
                <td>{{ translation[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
            <tr>
                <td>X</td>
                {% for locale, translation in translations %}
                    <td><a href="{{ path('app_translation_edit', {'locale': locale}) }}">Modifier {{ locale|upper }}</a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_translation_new') }}">Ajouter une langue</a>
{% endblock %}
