{% extends 'backoffice.html.twig' %}

{% block title %}Register{% endblock %}

{% block page %}

<section class="section-login section-register">

    <h1 class="title">Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm._token) }}
        {{ form_row(registrationForm.email, {
            class: 'form-item'
        }) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-orange">Register</button>
    {{ form_end(registrationForm, {'render_rest': false}) }}

</section>

{% endblock %}
