{{ form_start(form) }}
    <div class="form-item">
        <label>Langue de l'actualité :</label>
        <select name="lang" id="langs-select">
            {% for lang in allLangs %}
                <option value="{{ lang }}">{{ lang }}</option>
            {% endfor %}
        </select>
    </div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
