{% extends 'backoffice.html.twig' %}

{% block title %}Les actualités{% endblock %}

{% block page %}
    <h1>Les actualités</h1>

    <div class="table-contain">
        <div class="table-scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titres</th>
                        <th>Texte</th>
                        <th>Date de création</th>
                        <th>Lien du Google Form</th>
                        <th>Langue</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for blog_post in blog_posts %}
                    <tr>
                        <td>{{ blog_post.id }}</td>
                        <td>{{ blog_post.title }}</td>
                        <td>{{ blog_post.text }}</td>
                        <td>{{ blog_post.creationdate ? blog_post.creationdate|date('Y-m-d') : '' }}</td>
                        <td>{{ blog_post.formLink }}</td>
                        <td>{{ blog_post.locale }}</td>
                        <td>
                            <a href="{{ path('app_blog_post_show', {'id': blog_post.id}) }}">Afficher</a>
                            <a href="{{ path('app_blog_post_edit', {'id': blog_post.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Pas de resultats</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="contain-button">
        <a href="{{ path('app_blog_post_new') }}">Ajouter une actualité</a>
    </div>
    
{% endblock %}
