{% extends 'backoffice.html.twig' %}

{% block title %}Actualité{% endblock %}

{% block page %}
    <h1>Actualité</h1>

    <div class="table-contain">
        <div class="table-scroll">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ blog_post.id }}</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td><img src="/uploads/posts/{{ blog_post.image }}" alt="News image" width="300" /></td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ blog_post.title }}</td>
                    </tr>
                    <tr>
                        <th>Texte</th>
                        <td>{{ blog_post.text }}</td>
                    </tr>
                    <tr>
                        <th>Date de création</th>
                        <td>{{ blog_post.creationdate ? blog_post.creationdate|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Langue</th>
                        <td>{{ blog_post.locale }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="contain-button">

        <a href="{{ path('app_blog_post_index') }}">Retour</a>

        <a href="{{ path('app_blog_post_edit', {'id': blog_post.id}) }}">Modifier</a>

        {{ include('blog_post/_delete_form.html.twig') }}
        
    </div>
{% endblock %}
