{% extends 'backoffice.html.twig' %}

{% block title %}Les partenaires{% endblock %}

{% block page %}
    <h1>Les partenaires</h1>

    <div class="table-contain">
        <div class="table-scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for partner in partners %}
                    <tr>
                        <td>{{ partner.id }}</td>
                        <td>{{ partner.name }}</td>
                        <td>
                            <a href="{{ path('app_partner_show', {'id': partner.id}) }}">Afficher</a>
                            <a href="{{ path('app_partner_edit', {'id': partner.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Pas de résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="contain-button">

        <a href="{{ path('app_partner_new') }}">Ajouter un partenaire</a>

    </div>
{% endblock %}
