{% extends 'backoffice.html.twig' %}

{% block title %}Partner index{% endblock %}

{% block page %}
    <h1>Partner index</h1>

    <div class="table-contain">
        <div class="table-scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for partner in partners %}
                    <tr>
                        <td>{{ partner.id }}</td>
                        <td>{{ partner.name }}</td>
                        <td>
                            <a href="{{ path('app_partner_show', {'id': partner.id}) }}">show</a>
                            <a href="{{ path('app_partner_edit', {'id': partner.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="contain-button">

        <a href="{{ path('app_partner_new') }}">Create new</a>

    </div>
{% endblock %}
