{% extends 'backoffice.html.twig' %}

{% block title %}Person index{% endblock %}

{% block page %}
    <h1>Person index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>ImageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.firstname }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.imageName }}</td>
                <td>
                    <a href="{{ path('app_person_show', {'id': person.id}) }}">show</a>
                    {% if person.user == null or person.user == app.user %}
                        <a href="{{ path('app_person_edit', {'id': person.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_person_new') }}">Create new</a>
{% endblock %}
