{% extends 'backoffice.html.twig' %}

{% block title %}Person{% endblock %}

{% block page %}
    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ person.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ person.lastname }}</td>
            </tr>
            {% if person.imageName %}
                <tr>
                    <th>Image</th>
                    <td><img src="/uploads/persons/{{ person.imageName }}" alt="Picture of {{ person.firstname }} {{ person.lastname }}" /></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_person_index') }}">back to list</a>

    <a href="{{ path('app_person_edit', {'id': person.id}) }}">edit</a>

    {% if person.user == null %}
        {{ include('person/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
