{% extends 'backoffice.html.twig' %}

{% block title %}Add Project Thanks{% endblock %}

{% block page %}
    <h1>Add Project Thanks</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('app_project_index') }}">back to list</a>
{% endblock %}
