{% extends 'backoffice.html.twig' %}

{% block title %}Les Films{% endblock %}

{% block page %}
    <h1>Les Films</h1>

    <div class="table-contain">
        <div class="table-scroll">

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Réalisateur</th>
                        <th>Lien du distributeur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.translations['fr'].title }}</td>
                        <td>{{ project.date ? project.date|date('Y-m-d') : '' }}</td>
                        <td>{{ project.filmmakerFullName }}</td>
                        <td>{{ project.distributorLink }}</td>
                        <td>
                            <a href="{{ path('app_project_show', {'id': project.id}) }}">Afficher</a>
                            <a href="{{ path('app_project_edit', {'id': project.id}) }}">Modifier</a>
                            <a href="{{ path('app_project_addthanks', {'id': project.id}) }}">Ajouter Remerciement</a>
                            <a href="{{ path('app_project_managetranslation', {'id': project.id}) }}">Ajouter une traduction</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Pas de résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="contain-button">

    <a href="{{ path('app_project_new') }}">Ajouter un film</a>
    </div>
{% endblock %}
