{% extends 'backoffice.html.twig' %}

{% block title %}Film{% endblock %}

{% block page %}
    <h1>Film</h1>

    <div class="table-contain">
        <div class="table-scroll">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ project.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ project.translations['fr'].title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ project.translations['fr'].description }}</td>
                    </tr>
                    <tr>
                        <th>{{ project.translations['fr'].section1title }}</th>
                        <td>{{ project.translations['fr'].section1text }}</td>
                    </tr>
                    <tr>
                        <th>{{ project.translations['fr'].section2title }}</th>
                        <td>{{ project.translations['fr'].section2text }}</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td><img src="/uploads/projects/{{ project.image }}" alt="Poster of movie" width="300" /></td>
                    </tr>
                    <tr>
                        <th>Trailer</th>
                        <td>{{ project.trailer }}</td>
                    </tr>
                    <tr>
                        <th>Dossier de presse</th>
                        <td><a href="/uploads/projects/{{ project.pressKit }}" download>Download</a></td>
                    </tr>
                    <tr>
                        <th>Lien du distributeur</th>
                        <td>{{ project.distributorLink }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ project.date ? project.date|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Réalisateur</th>
                        <td>{{ project.filmmakerFullName }}</td>
                    </tr>
                    {% if project.projectThanks|length > 0 %}
                    <tr>
                        <th>Remerciements</th>
                        <td>
                            <ul>
                            {% for thanks in project.projectThanks %}
                                <li>{{ thanks.name }}</li>
                            {% endfor %}
                            <ul>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="contain-button">

        <a href="{{ path('app_project_index') }}">Retour</a>

        <a href="{{ path('app_project_edit', {'id': project.id}) }}">Modifier</a>
        
        <a href="{{ path('app_project_addthanks', {'id': project.id}) }}">Ajouter remerciement</a>
        
        <a href="{{ path('app_project_managetranslation', {'id': project.id}) }}">Traductions</a>

        {{ include('project/_delete_form.html.twig') }}

    </div>
{% endblock %}
