{% extends 'backoffice.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block page %}
    <h1>Utilisateurs</h1>

    <div class="table-contain">
        <div class="table-scroll">

            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ ("ROLE_ADMIN" in user.roles) ? "Admin" : "Utilisateur" }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>
                            {% if not ("ROLE_ADMIN" in user.roles) %}
                                {{ include('user/_setadmin_form.html.twig') }}
                            {% endif %}
                            {{ include('user/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Pas d'utilisateurs</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
